ul {
  list-style: none;
  display: grid;
  height: 50px;
  width: 100%;
  margin: auto;
  padding: 0px;
  font-family: monospace;
  color: White;
}

button {
  height: 50px;
  width: 100%;
  font-family: monospace;
  color: White;
  background-color: black;
  position: relative;
}

  #SubMenu {
      display: none;
    }
    
    #MainMenu:hover #SubMenu {
      display: grid;
    }

  img{
    width: 450px;
    height: 300px;
  }
  #SectionDefinition{
    background-color: burlywood;
  }
  section{
    display: grid;
    grid-template-columns: auto 550px;
    column-gap: 30px;
  }
  section> h2{
grid-column-start:1;
grid-column-end:3 ;
  }
  
  #buttonback:hover{
    background-color: white;
    color: black;
  }

  .imgright {
    float: right;
  }

  